<template>
    <div class="w-full h-12 bg-transparent px-20 flex justify-end absolute top-0 z-10"> 
        <button id="myProfileButton" class="h-9 px-5 pb-0.5 rounded-md mt-3 bg-nearWhite shadow-md 
        hover:bg-secondary2 hover:text-white hover:shadow-lg hover:scale-105 duration-150 min-w-[120px]" ref="myProfileButton"
        @click="redirectToProjects">{{ buttonText }}
        <font-awesome-icon :icon="isLogged ? ['fas', 'user']  : ['fas', 'right-to-bracket']"/>
        </button>
        <div v-if="isLogged" class="options_dropdown hidden absolute mt-11 -z-10 h-20 bg-white rounded-b-md border 
        hover:flex flex-col text-sm font-semibold" :style="'width: '+ buttonWidth() +'px'">
            <button class=" px-4 text-right h-10 hover:bg-secondary2
             duration-150 hover:text-white w-full" @click="redirectToProfile()">Editar Perfil
            </button>
            <button class=" px-4 text-right h-10 hover:bg-secondary2 rounded-b-md border-t
             duration-150 hover:text-white w-full" @click="logout()">Sair
            <font-awesome-icon :icon="['fas', 'right-from-bracket']"/>
            </button>

        </div>
    </div>

</template>

<script>
import { computed, nextTick } from 'vue'

export default {
    name: 'NavBar',
    props: {
        user: {
            id: String,
            name: String,
        },
    },
    data() {
        return {
            buttonWidth: () => 120,
            buttonText: 'Login',
            isLogged: false,
        }
    },
    methods: {
        redirectToProjects(){
            if ( this.user === null || this.user.id === null || this.user.id === undefined)
                this.$router.push('/sessions/login')
            else if ( this.$route.name == 'user' && this.$route.params.userId == this.user.id )
                this.$router.go();
            else
            this.$router.push({name: 'user', params: { userId : this.user.id }} )
            
        },
        redirectToProfile(){
            if ( this.$route.name == 'myProfile')
                this.$router.go()
            this.$router.push({name: 'myProfile'})
        },
        logout(){
            this.deleteSession()
            this.$router.go()
        },
        getButtonWidth(){
            return this.$refs.myProfileButton.clientWidth ?? null

        }
    },
    watch: {
        buttonText:{
            handler(){
                nextTick( () => {
                    this.buttonWidth = () => this.getButtonWidth()
                })
                
            },
            
        }
    },
    mounted() {
        this.buttonText = computed( () => {
            if ( this.user !== null && 'name' in this.user && this.user.name != undefined){
                this.isLogged = true;   
                return this.user.name

            }
            
            return 'Login'
        })

        
 
    }
}

</script>

<style scoped>
#myProfileButton:hover + .options_dropdown{
    display: flex;
    
}
</style>