<template>
   <main>   
    <router-view :key="$route.fullPath"/>
  </main>
</template>

<script>
import { provideApolloClient } from '@vue/apollo-composable'
import { apolloClient } from './apolloClient'

export default {
  name: 'App',
  data() {
    return {
      languages: [],
      queryResult : {}
    }
  },
  methods: {


  },
  mounted() {

    provideApolloClient(apolloClient)
  }
}
</script>

<style >

</style>
