<template>
    <h1 class="text-3xl font-semibold text-primary1 self-start ">Iniciar Sessão</h1>
    <p class="font-thin">Bem-Vindo. Inicia sessão para poderes criar, editar e eliminar os teus projetos. </p>
    <label class="self-start mt-8 text-slate-600 text-sm font-mono">Email<div v-if="error.email" class="text-red-500"><font-awesome-icon :icon="['fass', 'circle-exclamation']"/> {{error.email}}</div></label>
    <input v-model="input.email" class="h-10 w-full mt-1 rounded border border-slate-400 px-2 text-lg"
    @keyup.enter="requestFocusOn('passwordInput')" ref="emailInput">
    <label class="self-start mt-4 text-slate-600 text-sm font-mono">Password<div v-if="error.password" class="text-red-500"><font-awesome-icon :icon="['fass', 'circle-exclamation']"/> {{error.password}}</div></label>
    <div class="flex w-full relative">
        <input v-model="input.password" @keyup.enter="inputSubmitted" :type="showPassword ? 'text' : 'password'" 
        ref="passwordInput" class="h-10 w-full mt-1 rounded border border-slate-400 px-2 text-lg">
        <font-awesome-icon @keyup.enter="changePasswordVisibility" @click="changePasswordVisibility" 
        :icon="['fass', showPassword ? 'eye' : 'eye-slash']" 
        class="absolute top-4 right-4 hover:cursor-pointer" tabindex="0" />
    </div>
    <div class="flex w-full mt-4">

        <input v-model="rememberMe" type="checkbox" class="self-start mt-1 h-4 w-4">
        <span class="pl-2 text-sm text-slate-500 mt-0.5">Continuar conectado?</span>
    </div>
    
    <button @click="inputSubmitted" class="h-11 w-full bg-primary1 text-white mt-4 rounded text-lg select-none duration-150
    hover:bg-primary2">
    Iniciar Sessão
        <font-awesome-icon v-if="isLoading" :icon="['fas', 'spinner']" class="animate-spin"/>
    </button>
    <div class="flex justify-between w-full mt-10">
        <p class="text-slate-600 text-sm">Novo utilizador? 
            <RouterLink to="/sessions/signup" class="text-primary1" >Criar</RouterLink></p>
        <RouterLink to="/accountRecuperation" class="text-slate-500 text-sm">Esqueceu-se da senha?</RouterLink>
    </div>
</template>

<script>
import UserService from '../graphql/users'
import { useQuery } from '@vue/apollo-composable'
import { computed } from 'vue'


export default {
    data (){
        return {
            error: {
                email: false,
                password: false,
            },
            showPassword: false,
            input: {
                email: '',
                password: '',
            },
            user: {},
            isLoading: false,
            rememberMe: false,
        }
    },
    methods: {
        requestFocusOn(key){
            this.$refs[key].focus()
        },
        changePasswordVisibility(){
            this.showPassword = !this.showPassword
        },
        inputSubmitted(){
            
            if ( !this.validateInput() )
                return

            this.checkCredentials()
            
        },
        validateInput(){
            return this.validateEmail() && this.validatePassword();
        },
        validateEmail() {
            const EMPTY = 'O email não pode estar vazio!';
            const TOO_BIG = 'O email não pode ser superior a 128 carateres!';
            const BAD_FORMAT = 'O email introduzido não possui um formato de email válido!';

            // Não pode estar vazio ou com espaços em branco
            if(this.input.email.trim() === '') {
                this.error.email = EMPTY;
                return false;
            }   
            
            // Não pode ser demasiado grande
            if(this.input.email.length > 128) {
                this.error.email = TOO_BIG;
                return false;
            }
                
            // Não pode estar num formato inválido
            if(!this.input.email.toLowerCase()
                .match(
                    /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                )) {
                    this.error.email = BAD_FORMAT;
                    return false;
                }
            
            return true;
        },
        validatePassword() {
            const EMPTY = 'A password não pode estar vazia!';
            const TOO_BIG = 'A password não pode ser superior a 128 carateres!';

            // Não pode estar vazio ou com espaços em branco
            if(this.input.password.trim() === '') {
                this.error.password = EMPTY;
                return false;
            }
                
            // Não pode ser demasiado grande
            if(this.input.password.length > 128) {
                this.error.password = TOO_BIG;
                return false;
            }
                            
            return true;
        },
        checkCredentials(){
            let { result} = useQuery(UserService.CHECK_USER_CREDENTIALS(this.input.email, this.input.password))
            this.user = computed( () => result.value?.checkUserCredentials ?? null )
        },
        logUser(){
            this.createSession(this.user, this.rememberMe)
            this.$router.push({name: 'user', params:{userId: this.user.id}})
        }
    },
    watch: {
        user(newUser) {
            this.isLoading = true

            if ( newUser === null)
                return false

            if ( newUser.id === '-2'){
                this.error.email = "Não existem contas associadas a este email!"
                this.error.password = false;
                this.input.password = ''
                this.isLoading = false
                this.requestFocusOn('emailInput')
                return false
            }
            if ( newUser.id === '-1'){
                this.error.password = "A password está incorreta!"
                this.error.email = false;
                this.input.password = ''
                this.isLoading = false
                this.requestFocusOn('passwordInput')
                return false
            }

            this.error.email = false
            this.error.password = false
            this.isLoading = false

            this.logUser()
            return true;
        },
    },
    mounted(){
        
    }
}

</script>


<style>

</style>