<template>
    <div class="w-full bg-gradient-to-r from-primary1 to-primary2 h-16 relative pt-10 flex shadow-md">
        <router-view name="navBar" :user="authenticatedUser"/>

    </div>
    <div class="w-full h-5/6 mt-5 absolute flex justify-center ">
        <div class="w-10/12 ">
            <router-view :user="user"  @onNameUpdated="onNameUpdated"/>

        </div>
    </div>

</template>


<script>
import UserService from '../graphql/users'
import { useQuery} from '@vue/apollo-composable'
import { computed } from 'vue' 

export default {
    data() {
        return {
            authenticatedUser: {},
            user: {},
        }
    },
    methods:{
        onNameUpdated(name){
            this.authenticatedUser.name = name
        },
        getPageUser(){
            let {result} = useQuery(UserService.GET_USER_BY_ID(this.authenticatedUser.id))
            this.user = computed( () => result.value?.getUserById ?? null )
        },
        getAuthenticatedUser(){

            let authenticatedUser = this.getSession()

            const userCopy = {...authenticatedUser};

            authenticatedUser = {
                id: userCopy.id,
                name: userCopy.name,
                email: userCopy.email
            }

            return authenticatedUser
                       
        }
    },
    created(){
        this.authenticatedUser =  this.getAuthenticatedUser()  
        if ( this.authenticatedUser.id == undefined )
            this.$router.push({name: 'login'})
        this.getPageUser();
    
    },
    mounted(){

    }

}

</script>