<template >
    <router-view name="navBar" :user="authenticatedUser"/>
 
    <router-view name="profile" @onDescriptionExtended="updateSpacing" :user="user"/>
    
    <router-view :style="{ 'margin-top': 'calc( '+ spacing+'px - 150px)'}" class="mb-20" :user="user"/>

    
</template>

<script>
import UserService from '../graphql/users'
import { useQuery } from '@vue/apollo-composable'
import { computed } from 'vue'

export default {
    data(){
        return {
            authenticatedUser: {},
            user: {},
            spacing: 180
        }
    },
    methods: {
        updateSpacing(data){
            this.spacing = data
        },
        getPageUser(){
            let {result} = useQuery(UserService.GET_USER_BY_ID(this.$route.params.userId))
            this.user = computed( () => result.value?.getUserById ?? null )
        },
        getAuthenticatedUser(){
            let authenticatedUser = this.getSession()
            return {id: authenticatedUser.id ,name: authenticatedUser.name}
        }
    },
    mounted(){
        this.getPageUser()
        this.authenticatedUser = this.getAuthenticatedUser()
        
        // Title manipulation
        let unwatchTitle = this.$watch('user', (newValue) => {
            if ( newValue !== null &&  'name' in newValue ){
                document.title = 'Pandora Code - ' + newValue.name
                unwatchTitle()

            }

        })

        
        
    }
}
</script>