<template>
        <div class="h-full w-full bg-gradient-to-br from-indigo-300 to-indigo-500 absolute flex justify-center items-center -z-20 overflow-hidden">
        <div class="h-[36rem] w-[64rem] bg-nearWhite rounded flex shadow">
            <div class="w-1/2 h-full bg-gradient-to-br from-primary1 via-primary1 to-[#0059ff] rounded-l text-white flex flex-col justify-between shadow relative overflow-hidden">
                <div class="absolute rounded-full bg-secondary1 opacity-25 h-52 w-52 top-2/4 -right-20  "> </div>
                <a href="#" class="w-56 m-4">
                    <img src="../../public/images/FullLogo_transparent_white.png" class="w-56">
                </a>
                <div class=" -mt-52 ml-4">
                    <h1 class="text-4xl font-semibold">Bem-Vindo à Pandora Code</h1>
                    <p class="mt-2">A Pandora Code é uma rede onde podes partilhar e exibir os teus projetos de programação.
                    </p>
                </div>
                <div class="m-2 border border-b-white"></div>
            </div>
            <div class="h-full w-1/2 shadow-inner bg-inherit rounded-r flex justify-center items-center px-16 py-2 flex-col">
                <RouterView/>
            </div>
        </div>
        <div class="rounded-full h-[52em] w-[52em] absolute -right-96 -z-10 bg-primary2 shadow-inner -top-20"></div>
        <div class="w-11/12 absolute bg-secondary2 h-8 -z-20 top-80 opacity-60 shadow rounded-full"></div>
        <div class="w-full absolute bg-secondary2 h-10 -z-20 top-60 opacity-60 shadow"></div>
        <div class="w-5/6 absolute bg-secondary2 h-5 -z-20 top-72 opacity-60 shadow rounded-full"></div>
    </div>
</template>

<script>


</script>