<template>
    <h1 class="text-3xl font-semibold text-primary1 self-start ">Registrar</h1>
    <p class="font-thin">Bem-Vindo. Regista-te para puderes começar a partilhar os teus projetos. </p>
    <label class="self-start mt-3 text-slate-600 text-sm font-mono">Nome<div v-if="error.name" class="text-red-500"><font-awesome-icon :icon="['fass', 'circle-exclamation']"/> {{error.name}}</div></label>
    <input v-model="input.name" class="h-10 w-full mt-1 rounded border border-slate-400 px-2 text-lg"
    @keyup.enter="requestFocusOn('emailInput')" ref="nameInput">
    <label class="self-start mt-3 text-slate-600 text-sm font-mono">Email<div v-if="error.email" class="text-red-500"><font-awesome-icon :icon="['fass', 'circle-exclamation']"/> {{error.email}}</div></label>
    <input v-model="input.email" class="h-10 w-full mt-1 rounded border border-slate-400 px-2 text-lg"
    @keyup.enter="requestFocusOn('passwordInput')" ref="emailInput">
    <label class="self-start mt-3 text-slate-600 text-sm font-mono">Password<div v-if="error.password" class="text-red-500"><font-awesome-icon :icon="['fass', 'circle-exclamation']"/> {{error.password}}</div></label>
    <div class="flex w-full relative">
        <input v-model="input.password" @keyup.enter="requestFocusOn('confirmPasswordInput')" :type="showPassword ? 'text' : 'password'" 
        ref="passwordInput" class="h-10 w-full mt-1 rounded border border-slate-400 px-2 text-lg">
        <font-awesome-icon @keyup.enter="changePasswordVisibility" @click="changePasswordVisibility" 
        :icon="['fass', showPassword ? 'eye' : 'eye-slash']" 
        class="absolute top-4 right-4 hover:cursor-pointer" tabindex="1" />
    </div>

    <label class="self-start mt-4 text-slate-600 text-sm font-mono">Confirmar Password</label>
    <input v-model="input.confirmPassword" @keyup.enter="inputSubmitted" type="password"
    ref="confirmPasswordInput" class="h-10 w-full mt-1 rounded border border-slate-400 px-2 text-lg">
    
    
    <button @click="inputSubmitted" class="h-11 w-full bg-primary1 text-white mt-4 rounded text-lg select-none duration-150
    hover:bg-primary2">
    Criar Conta
        <font-awesome-icon v-if="isLoading" :icon="['fas', 'spinner']" class="animate-spin"/>
    </button>
    <div class="flex justify-center w-full mt-5">
        <p class="text-slate-600 text-sm">Já tens conta? 
            <RouterLink to="/sessions/login" class="text-primary1" >Login</RouterLink></p>
    </div>
</template>

<script>
import UserService from '../graphql/users'
import { useMutation } from '@vue/apollo-composable'
import { useQuery} from '@vue/apollo-composable'
import { computed } from 'vue'

export default {
    data(){
        return {
            isLoading: false,
            input: {
                name: '',
                email: '',
                password: '',
                confirmPassword: '',
            },
            error: {
                name: false,
                email: false,
                password: false,
            },
            showPassword: false,
            newUser: {}
        }
    },
    methods: {
        changePasswordVisibility(){
            this.showPassword = !this.showPassword
        },
        requestFocusOn(key){
            this.$refs[key].focus()
        },
        inputSubmitted(){
            if ( !this.validateInput() )
                return

            this.createUser()
        },
        validateInput(){
            const isInputValidated = this.validateName() && this.validateEmail() && this.validatePassword();
            return isInputValidated && !this.isEmailDuplicated();
        },
        validateName() {
            const EMPTY = 'O nome não pode estar vazio!';
            const TOO_BIG = 'O nome não pode ser superior a 64 carateres!';

            // Não pode estar vazio ou com espaços em branco
            if(this.input.name.trim() === '') {
                this.error.name = EMPTY;
                return false;
            }
                
            // Não pode ser demasiado grande
            if(this.input.name.length > 64) {
                this.error.name = TOO_BIG;
                return false;
            }
            
            this.error.name = '';
            return true;
        },
        validateEmail() {
            const EMPTY = 'O email não pode estar vazio!';
            const TOO_BIG = 'O email não pode ser superior a 128 carateres!';
            const BAD_FORMAT = 'O email introduzido não possui um formato de email válido!';

            // Não pode estar vazio ou com espaços em branco
            if(this.input.email.trim() === '') {
                this.error.email = EMPTY;
                return false;
            }
                
            // Não pode ser demasiado grande
            if(this.input.email.length > 128) {
                this.error.email = TOO_BIG;
                return false;
            }
                
            // Não pode estar num formato inválido
            if(!this.input.email.toLowerCase()
                .match(
                    /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                )) {
                    this.error.email = BAD_FORMAT;
                    return false;
                }
            
            this.error.email = '';
            return true;
        },
        validatePassword() {
            const EMPTY = 'A password não pode estar vazia!';
            const TOO_BIG = 'A password não pode ser superior a 128 carateres!';
            const PASSWORD_MISMATCH = 'As password introduzida, não é igual à password de confirmação!'

            // Não pode estar vazio ou com espaços em branco
            if(this.input.password.trim() === '') {
                this.error.password = EMPTY;
                return false;
            }
                
            
            // Não pode ser demasiado grande
            if(this.input.password.length > 128) {
                this.error.password = TOO_BIG;
                return false;
            }

            if(this.input.password !== this.input.confirmPassword) {
                this.error.password = PASSWORD_MISMATCH;
                return false
            }
                 
            this.error.password = '';
            return true;
        },
        isEmailDuplicated() {
            let {result} = useQuery(UserService.GET_USER_BY_EMAIL(this.input.email))
            const email = computed( () => result.value?.getUserByEmail?.email ?? null )

            if(email.value !== null) {
                this.error.email = 'O email que está a tentar introduzir já existe.'
                return true;
            }

            return false;
        },
        createUser(){
            const { mutate } = useMutation(UserService.CREATE_USER({
                name: this.input.name,
                email: this.input.email,
                password: this.input.password
            }))
            this.isLoading = true
            mutate().then( (result) => {
                this.newUser = result
                this.newUser = computed( () => result.data?.createUser ?? null ) 
            })

        }
        
    },
    watch: {
        newUser(){
            if ( this.newUser !== null && this.newUser !== {} ){
                this.isLoading = false
                this.$router.push('login')
            }
        }
    },
}

</script>