<template>
    <div>

        <div class="flex px-40 justify-start">
            <button class="px-6 bg-primary1 h-10 rounded-full text-white capitalize shadow
            hover:bg-primary2 duration-150 hover:cursor-pointer">
                criar projeto
                <font-awesome-icon :icon="['fas', 'plus']"/>
            </button>
        </div>
    
        <div class="flex justify-center mt-7">
            <div class="w-4/5 grid grid-cols-3 gap-x-10 gap-y-6">
                
                <div v-for="project in userProjects" :key="project.id" class="bg-nearWhite h-64 shadow-md rounded-lg border-blue-300 border">

                    <div class="flex flex-col h-full w-full justify-between px-3 pb-3 font-Ubuntu">
                        <div class="flex flex-col justify-between relative">
                            <div class="text-2xl font-sans text-slate-800 mt-4">{{ project.name }}</div>
                            <div class="text-xs font-mono italic px-2 h-5 rounded-b shadow-sm 
                            pt-0.5 bg-primary1 text-white absolute right-0">{{ project.state }}</div>

                            <div class="font-sans text-sm text-gray-600 px-0.5">{{ project.description }}</div>
                        </div>
                        

                        <div class="flex flex-col">
                            <div class="mt-3 text-sm">Categorias: 
                                <span class="mr-1.5 text-sm px-1.5 shadow-sm py-1 bg-primary1 text-white rounded" v-for="tag in projectTags[project.id]" :key="tag.name">{{ tag.name }}</span>
                            </div>
                            <div class="mb-1.5 mt-2 text-sm">Linguagens: 
                                <span class="mr-2" v-for="language in projectLanguages[project.id]" :key="language.name">
                                    <img class="h-6 w-6 inline-block" :src="require(`../../public/images/languages/${language.imagePath}`)" :alt="language.name" >
                                </span>
                            </div>
                            <div class="flex justify-between items-center">
                                <div class="text-gray-500 text-sm">
                                    {{ toEuropeanDate( project.date) }}</div>
                                <button class="bg-blue-500 w-32 h-9 shadow rounded-full text-white 
                                hover:bg-blue-600 hover:text-white duration-150 hover:tracking-wide
                                font-sans">Abrir Projeto</button>
                            </div>
                        </div>
                    
                    </div>
                    

                
                </div>
                
                
            </div>
            
        </div>
    </div>

</template>

<script>
import ProjectService from '@/graphql/projects'
import LanguageService from '@/graphql/languages'
import TagService from '@/graphql/tags'
import { useQuery } from '@vue/apollo-composable'
import { computed, watchEffect } from 'vue'



export default {
    data(){
        return {
            userProjects: [],
            projectLanguages: {},
            projectTags: {},
        }
    },
    props:{
        user:{
            id: String
        }
    },
    methods:{
        getUserProjects(id){

            let {result} = useQuery(ProjectService.GET_USER_PROJECTS(id) )
            return computed( () => result.value?.getUserProjects ?? [] )

        },
        getProjectLanguages( id, limit = null){
            let { result } = useQuery(LanguageService.GET_PROJECT_LANGUAGES(id, limit) )
            this.projectLanguages[id] = computed( () => result.value?.getProjectLanguages ?? {})
            

        },
        getProjectTags( id, limit = null){
            let { result } = useQuery(TagService.GET_PROJECT_TAGS(id, limit) )
            this.projectTags[id] = computed( () => result.value?.getProjectTags ?? {})
        },
        toEuropeanDate(strDate ){
            let d = new Date(strDate)

            return d.getDate() + '/' + (d.getMonth() +1) + '/' + d.getFullYear()


        }
    },
    watch:{
        userProjects: {
            immediate: true,
            handler() {
                this.userProjects.forEach((project) => {
                    this.getProjectLanguages(project.id, 3);
                    this.getProjectTags( project.id, 3);
                });
            },
        },
        user:{
            handler(){
                if ( this.user != null && this.user.id != null && this.user.id != undefined){
                    this.userProjects = this.getUserProjects(this.user.id)
                    
                }


            },
            deep: true
        },
    },
    created() {
        watchEffect(() => {
            if (this.user != null && this.user.id != null && this.user.id != undefined) {
                this.getUserProjects();
            }
        });
  },
    mounted(){

        

    }
}
</script>
